[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "OncoBayes2"]
	path = OncoBayes2
	url = https://github.com/novartis/oncobayes2
[submodule "RBesT"]
	path = RBesT
	url = https://github.com/novartis/rbest
[submodule "monitOS"]
	path = monitOS
	url = https://github.com/novartis/monitos
[submodule "xgxr"]
	path = xgxr
	url = https://github.com/novartis/xgxr
